<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome Home!</h1>

    <% if (typeof user !== "undefined") { %>
        <p>User <%= user.name %> signed up successfully!</p>
    <% } else { %>
        <p>No user data.</p>
    <% } %>
</body>
</html>
